*.DSStore
*.old
!/*
!*.conf
!*.xml
!*.xsl
!*.csv
!*.html
!*.css
!*.js
!*.py
!*.md
!*.txt
!*.meta
!*.spec
!*.example
!*.version
!*.lic
!*.swidtag
!*.ui_login
!*.tar
!*.gz
!*.tgz
!*.zip
!*.doc
!*.docx
!*.xls
!*.xlsx
!*.pdf
!*.vsdx
!*.dotx
!*.ppt
!*.pptx
!*.msg
!*.rpm
!*.cer
!*.csr
!*.key
!*.pem
!*.sh
!*.bash
!*.png
!*.jpg
!*.ico
!*.tiff
!*.svg













