/*
 * CSS rules for Calendar Heatmap viz.
 */

.splunk-calendar-heatmap div {
    color: #555;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica;
    font-size: 12px;
}

.splunk-calendar-heatmap .title {
    margin-left: 0px;
}

.splunk-calendar-heatmap .heatmap-list {
    margin: auto;
    overflow-y: auto;
    overflow-x: auto;
}

.splunk-calendar-heatmap .heatmap-list.hidden {
    display: none;
}

.splunk-calendar-heatmap .heatmap-list-item {
    text-align: center;
    margin: auto;
}

.splunk-calendar-heatmap .range-warning {
    text-align: center;
    padding: 5px;
}

.splunk-calendar-heatmap .range-warning.hidden {
    display: none;
}

/* === Cal-HeatMap === */

.splunk-calendar-heatmap .cal-heatmap-container {
    display: block;
    margin: 3px auto;
}

.splunk-calendar-heatmap .cal-heatmap-container .graph {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica;
}

.splunk-calendar-heatmap .cal-heatmap-container .graph-label {
    fill: #999;
    font-size: 10px;
}

.splunk-calendar-heatmap .cal-heatmap-container .graph,
.cal-heatmap-container .graph-legend rect {
    shape-rendering: crispedges;
}

.splunk-calendar-heatmap .cal-heatmap-container .graph-rect {
    fill: #ededed;
}

.splunk-calendar-heatmap .cal-heatmap-container .graph-subdomain-group rect:hover {
    stroke: #000;
    stroke-width: 1px;
}

.splunk-calendar-heatmap .cal-heatmap-container .subdomain-text {
    font-size: 8px;
    fill: #999;
    pointer-events: none;
}

.splunk-calendar-heatmap.cal-heatmap-drilldown {
    cursor: pointer;
}

.splunk-calendar-heatmap .cal-heatmap-container .domain-background {
    fill: none;
    shape-rendering: crispedges;
}

.splunk-calendar-heatmap-tooltip .tooltip-inner {
    opacity: 1;
    border-radius: 2px;
    filter: alpha(opacity=100);
}

.splunk-calendar-heatmap .cal-heatmap-container rect[rx]:not([rx='']) {
    shape-rendering: geometricPrecision;
}

/* Must hide the library tooltip */
.ch-tooltip {
    display: none !important;
}

/* Dark Theme */

.splunk-calendar-heatmap.dark div,
.splunk-calendar-heatmap.dark .title {
    color: #f2f4f5;
}
