/*
 * CSS rules for Treemap viz.
 */

.splunk-treemap div {
  color: #555;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica;
  font-size: 12px;
}

div.splunk-treemap div {
  float: left;
}

/* === Rectangles === */

.splunk-treemap rect {
  fill: none;
  fill-opacity: 0.85;
  stroke: #ebedef;
  stroke-width: 1px;
}

.splunk-treemap rect.parent {
  stroke-width: 4px;
  pointer-events: none;
}

.splunk-treemap rect.child {
  cursor: default;
  pointer-events: all;
}

.splunk-treemap rect.child.drillable {
  cursor: pointer;
}

.splunk-treemap g.children:hover .child{
  fill-opacity: 1.0;
}

.splunk-treemap rect.zoomable {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}


/* === Labels === */

.splunk-treemap .node-label {
  padding: 5px;
  color: #555;
  pointer-events: none;
  word-break: break-all;
}

.splunk-treemap .parent-label {
  font-weight: bold;
}


/* === Header === */

.splunk-treemap .header text {
  font-weight: bold;
  cursor: pointer;
  fill: #555;
}

.splunk-treemap .header rect {
  stroke-width: 1px;
  fill: #fff;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.splunk-treemap .header:hover rect {
  fill: #d9dce0;
}


/* === Tooltip === */

.splunk-treemap .tooltip {
  position: absolute;
  z-index: 100;
  opacity: 1;

  border: 0px;
  border-radius: 2px;

  padding: 10px;

  pointer-events: none;
  background: #000000;
  color: #ffffff;
}

.splunk-treemap .tooltip h4 {
  margin: 0px 0px 4px 0px;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: #ccc;
}

.splunk-treemap .tooltip h5 {
  font-style: italic;
  font-weight: 500;
  margin: 0px 0px 4px 0px;
  line-height: 16px;
  color: #ffffff;
}

.splunk-treemap .tooltip td.title {
  margin: 0px 0px 4px 0px;
  line-height: 16px;
  text-align: left;
}

.splunk-treemap .tooltip td.value {
  color: #fff;
  line-height: 16px;
  margin: 0px 0px 4px 0px;
  padding-left: 8px;
  text-align: right;
}

.splunk-treemap .tooltip-top-left:before {
  content: '';
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid black;
  left: -8px;
  top: 7px;
}

.splunk-treemap .tooltip-top-right:before {
  content: '';
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid black;
  right: -8px;
  top: 7px;
}

.splunk-treemap .tooltip-bottom-left:before {
  content: '';
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid black;
  left: -8px;
  bottom: 7px;
}

.splunk-treemap .tooltip-bottom-right:before {
  content: '';
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid black;
  right: -8px;
  bottom: 7px;
}

/* === Legend === */

.splunk-treemap .legend {
  float: right;
}

.splunk-treemap .legend ul {
  margin: 15px 0px;
  list-style-type: none;
}

.splunk-treemap li.key {
  color: #555;
  border-left-width: 12px;
  border-left-style: solid;
  font-size: 12px;
  line-height: 13px;
  width: 125px;
  padding-left: 5px;
  opacity: 0.85;
  margin-bottom:6px;
  word-break: break-all;
}

.splunk-treemap li.key span {
  height: 25px;
  display: table-cell;
  vertical-align: middle;
}

.splunk-treemap .legend ul text {
  font-weight: bold;
  font-size: 11px;
}

.splunk-treemap foreignObject {
  pointer-events: none;
}

/* Dark Theme */

/* === Rectangles === */

.splunk-treemap.dark rect {
    stroke: #3C444D;
}

/* === Legend === */

.splunk-treemap.dark li.key {
    color: #FFFFFF;
}

.splunk-treemap.dark .legend ul text {
    color: #FFFFFF;
}

/* === Header === */

.splunk-treemap.dark .header text {
    fill: #E1E6EB;
}

.splunk-treemap.dark .header rect {
    fill: #3C444D;
}

.splunk-treemap.dark .header:hover rect {
    fill: #171D21;
}