/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */

.tooltip {
    background: #333;
    box-shadow: 0 0 5px #999999;
    color: #eee;
    display: none;
    font-size: 12px;
    left: 230px;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 95px;
    width: 200px;
    z-index: 10;
}

.donut svg {
    display: block;
    margin: auto;
}

.donut .text{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.arc {
    stroke: #666666;
    stroke-width: 0.25;
}

.resizable {
    display: inline-block;
    padding: 0em;
    padding-bottom: 2em;
    margin: 1em;
    font-size: 10px;
    background: none;
    resize: both;
}

.resizable_legend {
    display: inline-block;
    padding: 0em;
    padding-bottom: 2em;
    margin: 1em;
    background: none;
    text-align: center;
}

.resizable h3 {
    text-align: center;
    margin: 0;
    height: 16px;
    border: none;
    cursor: default;
}

.resizable svg {
    width: 100%;
    height: 100%;
}

.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
    z-index: 0 !important;
}

.donut-container {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    width: 20%;
    height: 100%;
}

.donut-svg-container {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.donut-legend {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    width: 30%;
    height: 100%;
}

.donut-container-legend-vertical {
    display: inline-block;
    width: 100%;
    height: 40%;
}

.donut-legend-svg-container {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.donut-container-vertical {
    margin: auto;
    height: 40%;
}

.donut-legend-vertical {
    margin: auto;
    height: 40%;
}

.donut-legend-horizontal {
    float: left;
    margin-right: 1em;
}

.donut-container-center {
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.donut-legend-center {
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

#ruler {
    visibility: hidden;
    white-space: nowrap;
}
